/* Utility Classes */
.flex-direction\:row {
  flex-direction: row;
}

.flex-wrap\:nowrap {
  flex-wrap: nowrap  !important;
}

.flex-flow\:row_wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-flow\:column_nowrap {
  display: flex;
  flex-flow: column nowrap;
}

.flex-flow\:column_wrap {
  display: flex;
  flex-flow: column wrap;
}

.width\:100\%{
  width: 100%;
}

.margin-top\:2rem {
  margin-top: 2rem !important;
}

.margin-top\:3rem {
  margin-top: 3rem !important;
}


/* hides from viewport but not screen readers */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.display\:flex {
  display: flex;
  justify-content: flex-start;
}