:root {
  /* Color styles */
  --dark--purple: hsla(273, 85.1%, 13.1%, 1);
  --davys--grey: hsla(271, 12%, 34.3%, 1);
  --eucaplyptus: hsla(150, 100%, 63.3%, 1);
  --ghost--white: hsla(274, 100%, 98.6%, 1);
  --white: hsla(0, 0%, 100%, 1);

  /* Text-size styles */
  /* base size: body (18px) */
  --heading--l: 4.44rem;
  --heading--m: 3.11rem;
  --heading--s: 1.78rem;
  --body: 1rem;

  /* Theme colors */
  --primary-bg-color: var(--dark--purple);
  --secondary-bg-color: var(--eucaplyptus);
  --light-bg-color: var(--ghost--white);
  --text-color-light: var(--white);
  --text-color-dark-100: var(--dark--purple);
  --text-color-dark-300: var(--davys--grey);

  /* Component Theme Styles */
  /* Button */
  --button-bg-color: var(--secondary-bg-color);
  --button-text-color: var(--text-color-dark-100);

  /* Section Theme Styles */
  /* Header Section Theme Styles */
  --header-bg-color: var(--primary-bg-color);
  --header-text-color: var(--text-color-light);

  /* Hero Section Theme Styles */
  --hero-bg-color: var(--primary-bg-color);
  --hero-text-color: var(--text-color-light);

  /* Feature Section Theme Styles */
  --features-bg-color: var(--light-bg-color);
  --features-heading-text-color: var(--text-color-dark-100);
  --features-paragraph-text-color: var(--text-color-dark-300);

  /* Early Access Signup Styles */
  --early-access-bg-color: var(--primary-bg-color);
  --early-access-text-color: var(--text-color-light);
}
/* Resets */

body {
  padding: 0;
  margin: 0;
}

button {
  border: 0;
}

img[class] {
  width: 100%;
}

ul[class] {
  padding-inline-start: 0;
}

/* utility */

.button {
  /* Theme colors */
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  /* Layout */
  padding-inline: 1.5em;
  padding-block: 0.75em;
}

.mobile\:container {
  @media screen and (max-width: 400px) {
    padding-inline: 1rem;
  }
}

/* SECTIONS */

/****************
HEADER
****************/
@media (min-width: 0) {
  .header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
  }
}

/****************
HERO
****************/
@media (min-width: 0) {
  .hero {
    background-color: var(--hero-bg-color);
    color: var(--hero-text-color);
  }
}

/****************
FEATURES
****************/
@media (min-width: 0) {
  .features {
    background-color: var(--features-bg-color);
    color: var(--features-paragraph-text-color);
  }

  .features__heading {
    color: var(--features-heading-text-color);
  }

  .features__list {
    list-style: none;
  }
}

/****************
EARLY ACCESS SIGNUP
****************/
@media (min-width: 0) {
  .early-access-signup {
    color: var(--early-access-text-color);
    background-color: var(--early-access-bg-color);
  }
}

/****************
FOOTER
****************/
@media (min-width: 0) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 4.625rem;
    padding-block-end: 4rem;
    gap: 3.5rem;
  }

  .footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.75em;
  }
}
